<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="5.0.1" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net461" requireReinstallation="true" />
  <package id="ControlzEx" version="4.2.2" targetFramework="net461" requireReinstallation="true" />
  <package id="Fody" version="4.2.1" targetFramework="net461" developmentDependency="true" />
  <package id="MahApps.Metro" version="2.0.0-alpha0748" targetFramework="net461" requireReinstallation="true" />
  <package id="MaterialDesignColors" version="1.2.5-ci1368" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="3.1.2-ci1368" targetFramework="net461" />
  <package id="MaterialDesignThemes.MahApps.163" version="0.0.111" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="2.6.1" targetFramework="net461" />
  <package id="Sanford.Multimedia.Midi" version="6.6.2" targetFramework="net461" />
</packages>